
<div class="input-group">
  <%= form_tag(home_index_path, :method => "get", id: "search-form") do %>
    <span><%= text_field_tag :search, params[:search], placeholder: "Search Posts",class: 'form-control ', :size=> "100x50"  %></span><span><%= submit_tag "Search", class: 'btn btn-success', :style =>"float: right"  %></span>
    
  
  <% end %>
</div>

<h1>Listing Posts</h1>
 
<table class="table">
  <tr class="info">
    <th class="col-lg-2">Title</th>
    <th class="col-lg-6">Text</th>
    <th class="col-lg-3">Images</th>
  
  </tr>
 
  <% @posts.each do |post| %>
    
    

    <tr >
      <td><%= post.title %></td>
      <td>
       <%= simple_format truncate(h(post.body), length: 400, separator: ' ') %><%= link_to "Read More", post_path(post)%>
      </td>
      <td>
        <% post.images.each do |image| %>
         
         <%="#{time_ago_in_words(post.published_at)} ago by"%>
 <%= post.user.fullname %><br>
          <%=  image_tag (image.attachment), :size => "50x50"  %><br>
          <p>Total view: <%=post.countviews%>  <p> 
        <% end %>
      </td>
  
    </tr>
   
  <% end %>
</table>
<%= will_paginate @posts %>

