<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, :html => { :multipart => true }

) do |f| %>
  <%= devise_error_messages! %>

  

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div> 

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!-- <div class="field">
    <%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%#= f.password_field :current_password, autocomplete: "off" %>
  </div> -->

  <div class="field">
    <%= f.label :contact_number %><br />
    <%= f.text_field :contact_number, autofocus: true %>
  </div>
 
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div><%= f.radio_button :is_female, '1' %> <%= f.label :is_female, "Female" %></div>
  <div><%= f.radio_button :is_female, '0' %> <%= f.label :is_female, "Male" %></div>

  <div><%= f.label :date_of_birth %><br />
        <%= f.date_select :date_of_birth %></div>
  
  
  <div>
   <%= f.label "Image" %>
    <%= f.fields_for :image, current_user.image || current_user.build_image do |i| %> 
      <%= i.file_field :attachment, class: "form-control"  %>
      <%= image_tag current_user.image&.attachment&.url || '' %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
<%unless @user.notification.present? %>
    <%= link_to 'allow notification',  allow_notification_user_path(@user), method: :post, class: "btn btn-success" %>
  <%else%>
    <button class="btn btn-primary">notify</button>
  <%end%>


<%# image = @user.build_image %>
<%#= image_tag (image.attachment) %>
